.page-header h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.page-header {
    padding-bottom: 6rem;
}

.customers {
    padding: 2rem 0;
}

.customers .text {
    font-size: 1rem;
}

.customers .row {
    flex: 2 1 auto;
}

.advantages {
    padding: 6rem 0;
    background-color: #f7f7f7;
}

.advantages h1 {
    font-weight: 600;
    margin-bottom: 4rem;
}

.advantages h4, .learning-with h4 {
    font-size: 1.3rem;
    font-weight: 600;
}

.advantages .col-md-6 {
    padding: 0 2rem;
}

.testimonials {
    padding: 6rem 0;
}

.testimonials h1, .description h1, .learning-with h1 {
    font-weight: 600;
}

.description {
    background-image: url(../img/description.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 6rem 0;
}

.description h1 {
    margin-bottom: 1.5rem;
}

.learning-with {
    background-color: #f7f7f7;
}

.learning-with, .form{
    padding: 6rem 0;
}

.learning-with h1, .form h4 {
    margin-bottom: 2rem;
}

.quote {
    background-image: url(../img/quote.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 9rem 0;
}

.quote h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.form {
    background-color: rgb(55,79,117);
    color: #fff;
}

.form h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1.3rem;
}

.form .card-body {
    padding: 2rem;
}

.form .card-body h3 {
    color: #000;
    margin-bottom: 3rem;
    font-size: 1.4rem;
}

.form .btn-outline-light {
    background-color: rgb(55,79,117);
    color: #fff;
    border-color: rgb(55,79,117);
    font-size: 1rem;
}

.form .btn-outline-light:hover {
    color: rgb(55,79,117);
    border-color: rgb(55,79,117);
    background-color: #fff;
}

.form .form-group {
    margin: 1.2rem 0;
}

@media (max-width: 767.98px) {
    .page-header img {
        margin-top: 1.25rem;
    }

    .customers {
        padding: 6rem 0;
    }

    .customers .text {
        font-size: calc(1.375rem + 1.5vw);
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .customers img {
        margin: 0.5rem 0;
        width: 125px;
    }

    .advantages .col-md-6, .learning-with .col-md-6 {
        margin-bottom: 1.2rem;
    }

    .quote {
        padding: 6rem 0;
    }

    .quote h1 {
        font-size: 2rem;
    }
}